<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Naraakum</title>
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/cart.css" rel="stylesheet" />
    <link href="~/css/navigation.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/jtable/css/jtable.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body class="rtl">
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg p-0">
                <a class="navbar-brand" href="../"><img src="../images/NARAAKUM-01.png" alt="" style="cursor: pointer" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @************ Menu ***************@
                @Html.Partial("~/Views/PartialViews/_Menu.cshtml")
            </nav>
        </div><!--end of container-fluid-->
    </header>
    @RenderBody()

    <footer class="mt-5 d-flex px-5">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-auto mb-5 footercontent">
                    <ul>
                        <li>
                            <a href="">الرئيسية</a>
                        </li>
                        <li>
                            <a href="">عن نرعاكم</a>
                        </li>
                        <li>
                            <a href="">اتصل بنا</a>
                        </li>
                        <li>
                            <a href="">الوظائف</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-auto mb-5 footercontent">
                    <ul>
                        <li>
                            <a href="">الخدمات المنزلية</a>
                        </li>
                        <li>
                            <a href="">الباقات المنزلية</a>
                        </li>
                        <li>
                            <a href="">العروض</a>
                        </li>
                        <li>
                            <a href="">كيفية الاستخدام</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-auto mb-5 footercontent">
                    <ul>
                        <li>
                            <a href="">سياسة الألغاء</a>
                        </li>
                        <li>
                            <a href="">الشروط والاحكام</a>
                        </li>
                        <li>
                            <a href="">حقوق المريض</a>
                        </li>
                        <li>
                            <a href="">سياسة الأستخدام</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-auto mb-5 footercontent">
                    <ul>
                        <li>
                            <a href="">للحجز و الاستفسار</a>
                        </li>
                    </ul>
                    <div class=" mb-3 d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">0570239159</h6>
                        <div>
                            <img src="../images/Group 41729.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">0114090340</h6>
                        <div class="text-center ms-2">
                            <img src="../images/Path 78704.svg" alt="">
                        </div>
                    </div>
                </div>
                <!--end of col-auto-->
                <div class="col-md-auto col-6 text-center pb-4">
                    <img src="../images/barcode.svg" alt="" />
                </div>
                <!--end of col-auto-->
                <div class="col-md-auto bmc text-center pb-4">
                    <img src="../images/footer-logo.svg" alt="footer-logo" />
                </div>
                <!--end of col-auto-->
                <div class="w-100"></div><!-- Divider -->
                <div class="col-md-4 border-top py-4">
                    "مرخص من قبل وزارة الصحة" تحت رقم : 3504186403210
                </div>
                <!--end of col-4-->
                <div class="col-md-4 border-top text-center py-4">
                    الخدمة مقدمة من مركز الدكتور بسام الحمصي الطبي
                </div>
                <!--end of col-4-->
                <div class="col-md-4 border-top text-center py-4">
                    جميع الحقوق محفوظة نرعاكم@2022
                </div>
                <!--end of col-4-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-fluid-->
    </footer>

    <a href="javascript:void(0)" class="whatsapp"><img src="../images/whatsapp-icon.png" alt="" /></a>
    <a href="javascript:void(0)" class="chat"><img src="../images/robot-icon.png" alt="" /></a>

    @*// ******** Success Alert Modal**************@
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close align-right" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <img src="~/images/icon-success.png" class="mb-3" alt="" />
                    <p class="mb-o Success-Modal-Msg">Msg</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PatientsuccessModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <button type="button" class="close align-right" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <input type="file" id="" name="" class=""/>
                    <img src="~/images/icon-success.png" class="mb-3" alt="" />
                    <p class="mb-o PSuccess-Modal-Msg">Msg</p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/jtable@2.6.0/lib/jquery.jtable.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqRQDL_HrchZ8mfzE-VOkpxrxn5Xa00-o&libraries=places"></script>
    <script src="~/js/common.js"></script>
    <script>
        $(function () {
            NK.Common.webAPIAccessToken = '@Naraakum.Manager.CacheManager.WebAPIAccessTokenType' + ' ' + '@Naraakum.Manager.CacheManager.WebAPIAccessToken';
            NK.Common.checkLoggedInUserandSetMenu()
            NK.Common.getMediaAPIToken();
            $(".logout").on("click", function () {
                NK.Common.setLoggedInUser("");
                location.reload();
            });
        })
    </script>
    <script src=@Url.Content("~/js/Shared/_Menu.js")></script>
    <script src=@Url.Content("~/js/Shared/_Layout.js")></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


